@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete profile";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>This page allows you to delete your account.</p>
        <p>
            <strong>This will permanently remove your account, and it cannot be recovered.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
