body {
  background-color: #000000;
  color: #ffffff;
}

.form-floating {
  background-color: #000000;
  color: #ffffff;
}

input {
  background-color: #000000;
  color: #ffffff;
}

.form-label {
  color: #000000;
}

.placeholder {
  color: #000000;
}

.navbar {
  background-color: #000000 !important;
} 

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
}

#moon-icon {
  stroke: #ffffff;
}