body {
  background-color: #ffffff;
  color: #000000;
}

.form-floating {
  background-color: #ffffff;
  color: #000000;
}

#registerSubmit {
  background-color: #ffffff;
  color: #000000;
}

input {
  background-color: #ffffff;
  color: #000000;
}

.form-label {
  color: #000000;
}