html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button#theme-switcher {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.toggle-password:focus {
  outline: none; 
}

.toggle-password i {
  font-size: 1.2em;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}