@{
    ViewData["Title"] = "Add Friends Page";
}

<div>
    <a class="nav-link" asp-area="" asp-controller="Friends" asp-action="Index">Back</a>
    <form asp-action="SendRequest" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Enter friends username." id="receiverUsername" name="receiverUsername" value="" />
            <label class="form-label">Username</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Add Friend</button>
    </form>
</div>