main {
  margin-top: 20px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  position: relative;
  top: 0;
  z-index: 1000;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
