@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    You received a confirmation email. Open the link inside it to continue registration.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

