@{
    ViewData["Title"] = "Admin Page";
}

<div>
    <div class="row">
        @foreach (var report in new[] {
            new { Title = "Attachments Report", ReportType = "Attachments"},
            new { Title = "Chats Report", ReportType = "Chats"},
            new { Title = "Messages Report", ReportType = "Messages"},
            new { Title = "Users Report", ReportType = "Users"},
        new { Title = "User Last Message Report", ReportType = "Users With Last Message"},
        new { Title = "User Activity Report", ReportType = "User Activity"},
        new { Title = "Attachments Usage Report", ReportType = "Attachments Usage"},
        new { Title = "Private chats Usage Report", ReportType = "Message Private Chats Activity"},
        new { Title = "Public chats Usage Report", ReportType = "Message Group Chats Activity"},
        new { Title = "Chat Participation Reports Usage", ReportType = "Chat Participation"}
        })
        {
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="dropdown">
                    <button class="w-100 btn-primary btn-lg dropdown-toggle" type="button" id="@report.ReportType-@Guid.NewGuid()" data-bs-toggle="dropdown" aria-expanded="false">
                        @report.Title
                    </button>
                    <ul class="dropdown-menu w-100" aria-labelledby="@report.ReportType-@Guid.NewGuid()">
                        <li>
                            <a class="dropdown-item" href="/Admin/DownloadReport?reportType=@report.ReportType">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="previewReport('@report.ReportType')">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function previewReport(reportType) {
        window.open(`/Admin/PreviewReport?reportType=${reportType}`, '_blank');
    }
</script>

<style scoped>
    .btn-lg {
        font-size: 1rem;
    }
</style>
