@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sisyphus Chat</h1>
    <p class="lead">Push Forward with Privacy. Secure from Start to Finish.</p>
    <img src="~/images/sisyphus.png" alt="Sisyphus" class="img-fluid" id="sisyphus-logo" style="width: 200px; height: 200px;" />
    <hr />
    <p class="lead">Why Sisyphus?</p>
    <p class="small">Sisyphus represents persistence, pushing forward despite challenges. Sisyphus Chat embodies this spirit by ensuring your privacy in a world where it is increasingly compromised. Trust Sisyphus to protect your conversations, secure from start to finish.</p>
    <hr />
    <p class="lead">Features</p>
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-lock fa-2x"></i>
            <h2>Secure</h2>
            <p class="small">End-to-end encryption ensures your messages are secure from start to finish.</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-user-secret fa-2x"></i>    
            <h2>Private</h2>
            <p class="small">Private chats ensure only you and the recipient can see your messages.</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-users fa-2x"></i>
            <h2>Group</h2>
            <p class="small">Group chats allow you to communicate with multiple people at once.</p>
        </div>
    </div>
</div>
