@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sisyphus Chat</h1>
    <p class="lead">Push Forward with Privacy. Secure from Start to Finish.</p>
    <img src="~/images/sisyphus.png" alt="Sisyphus" class="img-fluid" style="width: 200px; height: 200px;" />
    <hr />
    <p class="lead">Why Sisyphus?</p>
    <p class="small">Sisyphus represents persistence, pushing forward despite challenges. Sisyphus Chat embodies this spirit by ensuring your privacy in a world where it is increasingly compromised. Trust Sisyphus to protect your conversations, secure from start to finish.</p>
</div>
